<ion-header>

  <ion-navbar>
    <ion-title>All Users</ion-title>

    <ion-buttons end>

      <button ion-button icon-only (click)="sort()">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only (click)="getSubjectList()">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-item>
          <ion-avatar item-start *ngIf="item.role">
            <img [src]="'assets/img/speakers/eagle.jpg'" />
          </ion-avatar>
          <ion-avatar item-start *ngIf="!item.role">
            <img [src]="'assets/img/speakers/turtle.jpg'" />
          </ion-avatar>
        <h2>{{item.name}}</h2>
          <h3>{{item.surname}}</h3>
          <h3 *ngIf="item.role==true">Admin</h3>
          <h3 *ngIf="item.role==false">No Admin</h3>
          <h3 *ngIf="item.state==true">Active</h3>
          <h3 *ngIf="item.state==false">No Active</h3>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </ion-item>
      </button>

      <ion-item-options>
        <!--<button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>-->
        <button ion-button color="primary" (click)="openItem(item)">
          {{ 'OPEN_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
